/* Este repositório base fué creado para ayudarte en caso que no sepas como comenzar, recuerda que el portafolio es tu carta de presentación y debes darle tu cara, por eso te invitamos a personalizarlo según tu estilo y preferencias no te limites apenas al layout propuesto en figma  
*/
:root {
    --color-de-fondo: #151B23;
    --color-de-fondo-secundario: #273341;
    --color-de-fondo-menu: #0D1117;
    --color-de-link: #FFFFFF;
    --color-resalte: #2A79E3;

    --color-letra: #F5F5F5;
}

body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
    color: var(--color-letra);
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

h2,
h3,
p {
    margin: 1rem;
}

/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem;
    background-color: var(--color-de-fondo-menu);
    gap: 5vw;
}

.cabecera__logo {
    max-width: 80px;
    margin-left: 0.7rem;
}

.cabecera__info {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.cabecera__titulo {
    font-size: 1.2rem;
    text-align: center;
}

.cabecera__correo {
    font-size: 0.9rem;
    color: #b9b9b9;
}

.navegacion__lista {
    display: none;
}

.navegacion__elemento a {
    font-size: 1rem;
}

/* ------------------------------ Sección Presentación ------------------------------*/
.presentacion__foto {
    width: 35vw;
    height: auto;
    border-radius: 50%;
    margin: 1rem;
}

/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi {
    background-color: var(--color-de-fondo-secundario);
    padding: 1rem 0 1rem 0;
}

.redes {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 1rem;
}

.sobre-mi__firma {
    margin: 1rem;
}

/*------------------------------ Sección de Habilidades ------------------------------*/
.habilidades__titulo {
    text-align: center;
}

.habilidades__lista {
    display: flex;
    flex-flow: row wrap;
    padding: 0;

}

.habilidades__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 1rem;


    height: 150px;
    width: 150px;
    background-color: var(--color-de-fondo-secundario);
}

.habilidades__icono {
    width: 2rem;
}

/*------------------------------ Sección de Aficiones --------------------------------*/

.aficiones__titulo {
    text-align: center;
}

.aficiones__lista {
    display: flex;
    flex-flow: row wrap;
    padding: 0;

}

.aficiones__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 1rem;


    height: 150px;
    width: 150px;
    background-color: var(--color-de-fondo-secundario);
}

.aficiones__icono {
    width: 20%;
}

/* ---------------------------------Sección de formación ----------------------------*/

.formacion__lista {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formacion__icono__container {
    background-color: var(--color-de-fondo-secundario);
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*------------------------------ Sección de Proyectos --------------------------------*/

.proyectos__titulo {
    text-align: center;
}

.proyectos__showcase {
    display: flex;
    justify-content: center;
    align-items: center;
}

.proyectos__showcase__imagen {
    width: 100%;
    margin: 1rem;
}

.proyectos__area-botones {
    display: flex;
    margin: 2rem 1rem;
    gap: 5vw;
}

.proyectos__area-botones--boton {
    width: 8rem;
    height: 3rem;
    border: none;
    cursor: pointer;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
}

.proyectos__area-botones--boton1 {
    border: 1px solid var(--color-resalte);
    color: var(--color-resalte);
    background-color: var(--color-de-fondo);
    transition: all 0.3s ease;
}

.proyectos__area-botones--boton1:hover {
    background-color: var(--color-resalte);
    color: var(--color-letra);
}

.proyectos__area-botones--boton2 {
    background-color: var(--color-resalte);
    color: var(--color-letra);
    transition: all 0.3s ease;
}

.proyectos__area-botones--boton2:hover {
    background-color: var(--color-letra);
    color: var(--color-resalte);
}


/*------------------------------ Sección de Contacto ---------------------------------*/

.contacto {
    background-color: var(--color-de-fondo-secundario);
    padding: 1rem 0;
}

.contacto__formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
}

.contacto__boton {
    width: 8rem;
    height: 3rem;
    border: none;
    cursor: pointer;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
}

.contacto__campo {
    margin: 1rem;
    height: 5vh;
    padding-left: 1rem;

    border: none;
    border-bottom: 3px solid transparent;
    outline: none;
    transition: border-color 0.3s ease;

}

.contacto__campo:focus {
    border-bottom: 3px solid var(--color-resalte);
}

.contacto__campo--textarea {
    padding-top: 1rem;
    height: 12vh;
    resize: none;

}

.contacto__boton {
    background-color: var(--color-resalte);
    color: var(--color-letra);
    transition: all 0.3s ease;
    margin: 1rem;
}

.contacto__boton:hover {
    background-color: var(--color-letra);
    color: var(--color-resalte);
}

/* -------------------------------Footer----------------------------------------------- */
footer {
    text-align: center;
}

/* ------------------------------ Responsividad ---------------------------------------*/

/* Tablets y pantallas más grandes */
@media (min-width: 768px) and (max-width: 1024px) {
    .cabecera {
        flex-direction: row;
        justify-content: space-between;
        margin: 2rem;
    }

    .cabecera__logo {
        max-width: 100px;
    }

    .cabecera__titulo {
        font-size: 2rem;
    }

    .navegacion__lista {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
    }

    .navegacion__elemento a {
        font-size: 1rem;
    }

    .navegacion__lista {
        display: none;
    }

    .presentacion {
        display: flex;
        flex-direction: row-reverse;
        margin: 2rem;
    }

    .presentacion__foto {
        flex: 1;
        height: 10rem;
        width: 10rem;
    }

    .sobre-mi {
        margin: 2rem;
    }

    .habilidades {
        margin: 2rem;
    }

    .habilidades__lista {
        gap: 2rem;
    }

    .habilidades__elemento {
        margin-left: 0;
        margin-right: 0;
    }

    .aficiones__lista {
        margin: 2rem;
        gap: 2rem;

    }

    .aficiones__elemento {
        min-width: 25vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        margin: 0;


        height: 150px;
        width: 150px;
        background-color: var(--color-de-fondo-secundario);
    }

    .aficiones__icono {
        width: 10%;
    }

    .formacion__titulo {
        text-align: center;
    }

    .formacion__icono__container {
        margin: 2rem;
        height: auto;
        padding: 2vh;
    }

    .formacion__nombre,
    .formacion__detalle {
        margin: 0 2rem;
    }

    .proyectos {
        margin: 2rem;
    }

    .proyectos__showcase__imagen {
        margin: 0;
    }

    .proyectos__nombre,
    .proyectos__descripcion,
    .proyectos__area-botones {
        margin: 1rem 0;
    }

    .contacto__descripcion,
    .contacto__titulo,
    .contacto__formulario {
        margin: 1rem 2rem;
    }

    .contacto__formulario {
        gap: 2.5rem;
    }

    .contacto__campo {
        margin: 0;
    }

    .contacto__boton {
        margin: 0;
    }
}

/* Pantallas grandes */
@media (min-width: 1025px) {

    p {
        font-size: 1.2rem;
    }

    .navegacion__elemento a {
        font-size: 1.2rem;
    }

    .cabecera {
        flex-direction: row;
        align-items: center;
        margin: 5vw;
        gap: 1vw;
    }

    .cabecera__correo {
        display: none;
    }

    .navegacion__lista {
        display: flex;
        gap: 4rem;
    }

    .cabecera__logo {
        max-width: 100px;
    }

    .cabecera__titulo {
        font-size: 2rem;
    }

    .navegacion {
        display: flex;
    }

    .navegacion__lista {
        margin: 1rem;
        padding: 0;
    }

    .navegacion__elemento a {
        font-size: 1rem;
        transition: all ease 0.3s;
    }

    .navegacion__elemento a:hover {
        color: var(--color-resalte);
    }

    .presentacion {
        display: flex;
        flex-direction: row-reverse;
        margin: 5vw;
    }

    .presentacion__titulo {
        font-size: 3rem;
    }

    .presentacion__foto {
        height: 20rem;
        width: 20rem;
        margin-right: 5vw;
    }

    .sobre-mi {
        margin: 5vw;
    }

    .habilidades {
        margin: 5vw;
    }

    .habilidades__lista {
        gap: 2rem;
    }

    .habilidades__elemento {
        margin-left: 0;
        margin-right: 0;
        height: 25vh;
    }

    .habilidades__icono {
        width: 10%;
    }

    .aficiones__lista {
        margin: 5vw;
        gap: 2rem;

    }

    .aficiones__elemento {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        margin: 0;


        height: 25vh;
        background-color: var(--color-de-fondo-secundario);
    }

    .aficiones__icono {
        width: 20%;
    }

    .formacion__titulo {
        text-align: center;
    }

    .formacion__icono__container {
        margin:  2rem 5vw;
        height: 25vh;
    }

    .formacion__nombre,
    .formacion__detalle {
        margin: 0 5vw;
    }

    .proyectos {
        margin: 5vw;
    }

    .proyectos__showcase__imagen {
        margin: 0;
    }

    .proyectos__nombre,
    .proyectos__descripcion,
    .proyectos__area-botones {
        margin: 2rem 0;
    }

    .proyectos__area-botones {
        gap: 2vw;
    }
    
    .proyectos__area-botones--boton {
        width: 10vw;
    }

    .proyectos__showcase__imagen {
        margin: 15vh 0 0 0;
    }

    .contacto__descripcion,
    .contacto__titulo,
    .contacto__formulario {
        margin: 1rem 5vw;
    }

    .contacto__formulario {
        gap: 5vh;
    }

    .contacto__campo {
        margin: 0;
    }

    .contacto__boton {
        margin: 0;
    }

}